
.homePage {
  padding-top: 15%;
  text-align: center;
  background-image:linear-gradient(#e66465, #9198e5 ,white);
  height: 100vh;
}

.Modal {
  position: absolute;
  padding-top: 4%;
  top: 20%;
  left: 20%;
  right: 20%;
  bottom: 20%;
  background-image:linear-gradient(#e66465, #9198e5,white);
}